[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FastStepGraph"]
	path = FastStepGraph
	url = https://github.com/juancolonna/faststepgraph
